@media (max-width: 1200px ) {
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .burger-menu {
        display: flex;
        width: 40px;
        height: 40px;
    }

    .header-top {
        height: 150px;
    }

    .menu {
        display: none;
    }

    .menu a {
        font-size: 20px;
    }

    .wall {
        top: 150px;
        height: 650px;
    }

    form {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .box-content {
        right: -190px;
    }

    .rent .owl-nav {
        display: none;
    }

    #rent .wrapper .content-left {
        padding: 0;
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .our-projects img {
        width: 100%;
        height: 100%;
    }

    .image-box {
        margin: auto;
    }

    .box-content {
        right: 0;
    }

    .image-box {
        margin-top: 70px;
    }

    .box-production {
        display: inline-block;
    }

    .box-product-image {
        margin-bottom: 30px;
    }

    #rent .wrapper {
        display: block;
    }

    #rent .wrapper .content-left {
        width: 100%;
    }

    #rent .wrapper {
        margin-top: 0;
    }

    .second-seminar .top-title,
    .third-seminar .top-title {
        margin-top: 15px;
    }

    .big-text, .small-text {
        width: 100%;
    }

    .sup-line,
    .sub-line {
        display: block;
    }

    .sup-line p {
        text-align: left;
    }
}

@media (max-width: 576px) {
    .box-content {
        right: 0;
    }

    .box-production {
        display: inline-block;
    }

    .image-box {
        width: 100%;
    }

    #rent .wrapper .content-left,
    .card {
        width: 100%;
        height: 100%;
    }

    .rent .owl-nav {
        display: none;
    }

    .sup-line,
    .sub-line {
        display: block;
    }

    .sup-line p {
        text-align: left;
    }
}

@media (max-width: 390px) {

    nav {
        display: block;
        text-align: center;
    }

    .owl-nav {
        display: none;
    }

    .logo img {
        margin: 0 auto;
        width: 140px;
        height: 58px;
    }

    .burger-menu {
        margin-top: 20px;
    }

    .menu-show {
        padding: 20px 0;
    }

    .header-top {
        height: 340px;
    }

    .wall {
        top: 340px;
        height: 460px;
    }

    .header-top {
        margin-bottom: 0;
    }

    .slide .row {
        display: block;
    }

    .box-content {
        right: 0;
    }

    .image-content {
        margin: 10px;
        padding-right: 0;
        padding-left: 0;
    }


    .news-item-left {
        display: block;
    }

    .news-btn {
        bottom: -55px;
        left: 0;
    }
}

@media (max-width: 350px) {
    .first-screen-content h1 {
        font-size: 30px;
    }

    .owl-nav {
        top: 0;
        right: 0;
        left: 0;
    }

    .box-production {
        display: block;
    }

    #rent .wrapper {
        display: block;
        margin-top: 0;
    }

    .content-left {
        text-align: center;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card .image-content {
        bottom: 0;
        right: 0;
        text-align: center;
    }

    .rent .owl-nav {
        display: none;
    }

    .image-content {
        margin: auto;
    }

    .news-item-left {
        display: block;
    }

    .news .wrapper {
        text-align: center;
    }
}
