a, a:hover {
    text-decoration: none;
    color: white;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}

:focus {
    outline: none;
}

body {
    font-family: 'Open Sans', 'Oswald', sans-serif;
    max-width: 1920px;
    background: #E5E5E5;
}

.container {
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}
/*header*/
header {
    width: 100%;
    height: 800px;
}

.scroll-nav {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-fixed {
    background: #005BC1;
}
.background-image {
    background: url("../images/back-image.jpg") fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.header-top {
    background: rgba(0, 91, 193, 0.6);
    width: 100%;
    height: 80px;
    margin-bottom: 202px;
}

nav {
    display: flex;
    align-items: center;
}

.logo img {
    width: 140px;
    position: absolute;
    top: 0;
    height: 58px;
    margin: 11px 0 0 40px;
}


.menu {
    display: flex;
    margin: 0 auto;
    color: #FFFFFF;

}

.menu a {
    margin-right: 28px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid transparent;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);

}

.menu li:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

.burger-menu {
    display: none;
    align-items: center;
}

.burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    border-radius: 3px;
    position: relative;
    transition: all .5s;
}

.burger-menu span:before,
.burger-menu span:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    transition: all .5s;
}

.burger-menu span:after {
    top: 10px;
}

.burger-menu.burger-open span {
    background: transparent;
}

.burger-open span:before {
    transform: rotate(45deg);
    top: 0;
}

.burger-open span:after {
    transform: rotate(-45deg);
    top: 0;
}

.menu.menu-show {
    display: block;
    z-index: 1;
}

.first-screen-content {
    color: #FFFFFF;
    z-index: 1;
    margin: 0 auto;
}

.first-screen-content h1 {
    line-height: 71px;
    letter-spacing: 0.01em;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 40px;
}

.first-screen-content p {
    line-height: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 40px;
}

form .button {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    border-radius: 0;
    width: 160px;
    padding: 15px 41px 14px 40px;
    height: 51px;
    z-index: auto;
}

form .button:hover {
    background: #ff572240;
    filter: drop-shadow(2px 4px 6px red);
    transition: .3s;
}

.wall {
    top: 80px;
    width: 444px;
    height: 100%;
    background: rgba(0, 91, 193, 0.6);
    position: absolute;
    animation: wall 10s ease-in-out infinite;
}

@keyframes wall {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}
/*Наши проекты*/
.our-projects h2,
.section-background h2,
#rent h2,
.news h2 {
    color: #343434;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    position: relative;
    font-weight: normal;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 156px 140px 0;
    margin: 0;
}

.our-projects h2:before,
.section-background h2:before,
#rent h2:before,
.news h2:before {
    content: '';
    top: 170px;
    left: 0;
    position: absolute;
    border: 2px solid #005BC1;
    width: 100px;
}

.our-projects h2:after,
.section-background h2:after,
#rent h2:after,
.news h2:after {
    content: '';
    left: 50px;
    top: 185px;
    position: absolute;
    width: 50px;
    border: 2px solid #005BC1;
}

.image-box {
    margin-top: 70px;
}


.slide .row {
    margin-left: 0;
}

.our-projects img {
    width: 540px;
    height: 400px;
}

.image-box {
    width: 50%;
    height: 400px;
}

.box-content {
    background: #FFFFFF;
    width: 250px;
    position: relative;
    height: 110px;
    bottom: 145px;
    right: -255px;
    padding: 20px 25px 0;
}

.box-content h4 {
    color: #343434;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
}

.box-content p {
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.projects-slider {
    position: relative;
}

.owl-nav {
    position: absolute;
    top: -50px;
    right: 0;
}

.owl-nav button svg:hover {
    filter: drop-shadow(2px 4px 6px darkblue);
    transition: .2s;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

.owl-carousel .owl-nav button.owl-prev {
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    margin-right: -2px;
    outline: none;
    position: relative;
}

.owl-carousel .owl-nav button.owl-next {
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    position: relative;
}

.owl-carousel .owl-nav button.owl-prev svg,
.owl-carousel .owl-nav button.owl-next svg {
    position: absolute;
    width: 13px;
    height: 25px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/*Каталог продукции*/
.title-content h2 {
    margin-bottom: 70px;
}

.tabs {
    text-align: center;
}

.tabs input {
    display: none;
}

.tabs label {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    cursor: pointer;
}

.tabs label {
    margin-right: 47px;
}

.tabs input:checked + label,
.tabs label:hover {
    color: #005BC1;
    transition: .2s;
    border-bottom: 2px solid #005BC1;
}

.tabs article {
    display: none;
}

.tabs #tab1:checked ~ .tab1,
.tabs #tab2:checked ~ .tab2 {
    display: block;
}

.section-background a h3 {
    font-family: 'Oswald', sans-serif;
    color: #343434;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
}

.box-production {
    margin-top: 56px;
    display: flex;
}

.box-product-image {
    position: relative;
    width: 350px;
    height: 300px;
    margin-right: 30px;
    border: 3px solid #005BC1;
}

.box-product-image img {
    width: 100%;
    height: 100%;
}

.box-product-content {
    position: absolute;
    background: #005BC1;
    width: 265px;
    height: 86px;
    bottom: 15px;
    right: 0;
    display: flex;
    align-items: center;
}

.box-product-content a {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    margin-left: 21px;
}

.box-product-content:hover {
    filter: drop-shadow(2px 4px 6px black);
    transition: .2s;
}

.production {
    margin-top: 70px;
}

.production .nav-item {
    margin: 0 30px;
    position: relative;
    left: 555px;
}

.production .active:hover:before {
    content: '';
    position: absolute;
    width: 53px;
    height: 2px;
    background: #005BC1;
    top: 35px;
}

.production .active a:hover {
    color: #005BC1;
    transition: .2s;
}
/*Аренда оборудования*/
#rent .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rent .wrapper .content-left {
    width: 350px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin: 0 auto;
}

#rent h2 {
    margin-bottom: 70px;
}

.rent .owl-nav {
    right: 30px;
}


.col-6 img {
    width: 255px;
    height: 250px;
    margin: 30px;
}

.col-6 p {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-top: 45px;
}

.image-content p {
    margin-bottom: 30px;
}

.card {
    border: 3px solid #005BC1;
    width: 665px;
    height: 394px;
    background: none;
    margin: 0 auto;
}

.card h4 {
    color: #343434;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin: 42px 0 0 30px;
}

.list-item li {
    list-style: inherit;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
/*Новости*/
.news {
    padding-bottom: 120px;
}

.news-title {
    display: flex;
    position: relative;
    margin-bottom: 70px;
}

.news-btn {
    position: absolute;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    width: 190px;
    height: 51px;
    background: #005BC1;
    padding: 15px 34px 14px 34px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

.news-btn:hover {
    filter: drop-shadow(2px 4px 6px black);
    transition-duration: .2s;
}

.news .wrapper {
    display: flex;
}

.news .col {
    padding-right: 0;
    padding-left: 0;
}

.news h4 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.top-title {
    display: flex;
}

.first-seminar img {
    width: 255px;
    height: 242px;
}

.first-seminar {
    width: 255px;
    height: 242px;
}

.news-item-left {
    display: flex;
}

.news-item {
    margin-left: 30px;
    margin-right: 60px;
}

.news-item a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}

.second-seminar img,
.third-seminar img {
    width: 128px;
    height: 115px;
}

.second-seminar {
    margin-right: 30px;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #979797;
    vertical-align: bottom;
    margin-left: 51px;
}

.big-text,
.small-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    width: 255px;
}

.big-text {
    margin-top: 25px;
}

/*FOOTER*/

hr {
    width: 1110px;
    background: #FFFFFF;
}

.footer-content {
    background: #005BC1;
}

.sup-line,
.sub-line {
    display: flex;
    justify-content: space-between;
}

.sup-line {
    padding-top: 40px;
}

.sup-line h4 {
    color: #FFFFFF;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.sup-line p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sup-line a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}

.sup-line a:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

.middle-line {
    padding-left: 0;
    display: flex;
}

.middle-line li {
    margin-right: 125px;
}

.footer-content a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 38px;
    color: #FFFFFF;
}

.sub-line {
    padding-top: 25px;
    padding-bottom: 25px;
}

.sub-line p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}